
.brd{
  border: 1px solid white;
  margin:5px;
  padding:30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cards{
    display: flex;
    margin:5px;
    padding:10px
}
span{
    margin-top: 30px;
}
.price1{
    text-decoration: line-through;
}